[Desktop Entry]
Encoding=UTF-8
Name=Link to https://phdnews.ir/sitemap-news/sitemap-index.xml
Type=Link
URL=https://phdnews.ir/sitemap-news/sitemap-index.xml
Icon=text-html
